.text1 {
    font-size:24px;
    font-family: 'Times New Roman', Times, serif;
}
.text2  {
    font-size:20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.text3 {
    font-size:16px;
    font-family: 'Times New Roman', Times, serif;
}